---
import Dialog from "./Dialog.astro";

const { id, buttonText, modalTitle, modalText } = Astro.props;
---

<button class="btn open-button3">Información</button>
<dialog class="modal3 bg-custom" id="modal3">
    <Dialog
        src="assets/img/mentory/3.1.png"
        titleWhite={"Mujer"}
        titleRed={"Fuerte"}
        subTitle={"Que obtengo con el plan Mujer Fuerte? "}
        closeButtonClass={"close-button3"}
        text={`Vas a tener una rutina personalizada,para hacer en tu gym favorito o en tu casa, con un plan de alimentación de acorde a tus objetivos y clases exclusivas realizadas y brindadas por Ignacio que te darán las herramientas para desarrollar tus hábitos, entrenamientos, nutrición al siguiente nivel, a su vez soporte siempre conmigo!`}
    />
</dialog>
<script>
    const modal3 = document.querySelector(".modal3") as any;
    const openModal1 = document.querySelector(".open-button3");
    const closeModal1 = document.querySelector(".close-button3");

    openModal1.addEventListener("click", () => {
        modal3.showModal();
    });

    closeModal1.addEventListener("click", () => {
        modal3.close();
    });
    document.addEventListener("click", (event: Event) => {
        if (event.target == modal3) {
            modal3.close();
        }
    });
</script>
