<script
    src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
    data-preference-id="214896082-982c6eb2-0f5c-42f8-b0a3-36b2a8d4a4e7"
    data-source="button"
    is:inline
></script>

<div id="paypal-container-NVJGAMNUP6GBY"></div>
<script is:inline>
    paypal
        .HostedButtons({
            hostedButtonId: "NVJGAMNUP6GBY",
        })
        .render("#paypal-container-NVJGAMNUP6GBY");
</script>
