---
import AboutUs from "../components/AboutUs.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Wellcome from "../components/Wellcome.astro";
import SocialMedia from "../components/social-media.astro/SocialMedia.astro";
import Testimonials from "../components/testimonials/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
/* const auth = getAuth(app);

Verificar la sesión actual 
if (!Astro.cookies.has("session")) {
    return Astro.redirect("/signin");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
    return Astro.redirect("/signin");
}*/
---

<Layout title="MK Fitness">
    <!-- <Header /> -->
    <Header />

    <Hero />
    <Wellcome />
    <Testimonials />
    <AboutUs />
    <!-- <Testimonials2 /> -->

    <!-- <OurGallery /> -->
    <SocialMedia />
    <Footer />
    <!--   <h1>Bienvenido {user.displayName}</h1>
    <p>Nos alegra verte aquí</p>
    <form action="/api/auth/signout">
        <button type="submit">Cerrar sesión</button>
    </form> -->
</Layout>
