<section class="mb-40 s-about">
    <div class="container" id="about-me">
        <img
            class="about-effect-tringle"
            src="/assets/img/tringle-about-top.svg"
            alt="img"
        />
        <div class="row about-row">
            <div class="col-md-6 about-img-col">
                <div class="about-img-cover">
                    <div class="about-img-1">
                        <img
                            src="assets/img/about2.jpg"
                            alt="img"
                            class="rounded-2xl"
                            width="500"
                        />
                    </div>
                    <!-- <div class="about-img-2">
                            <img src="assets/img/about1.jpg" alt="img" />
                        </div> -->
                </div>
            </div>
            <div class="col-md-7 about-info-cover">
                <h2 class="title-decor">Sobre <span>mi</span></h2>
                <div class="text">
                    <p>
                        <p>
                            Desde chico que estoy metido en el deporte gracias a
                            mi padre, que siempre fue un deportista. Por eso, el
                            entrenamiento, la buena comida y los hábitos
                            saludables son parte de mi vida desde siempre.
                        </p>
                        <p>
                            A pesar de haber practicado fútbol, natación,
                            maratones, gym y crossfit, nunca estaba conforme con
                            mi físico y sabía que la alimentación era mi punto
                            débil. Pero ahí fue cuando decidí tomármelo en serio
                            y ponerme a estudiar. Entonces me prepare y concrete
                            mis estudios en: Personal trainer matriculado
                            (URBAN), Nutrición deportiva (URBAN) ,Experto en
                            biomecánica (ENFAF) y el Máster universitario en
                            hipertrofia y culturismo natural en España (ENFAF).
                        </p>

                        <p>
                            A día de hoy llevo + 200 personas entrenadas y
                            asesoradas por mi, brindándoles herramientas no solo
                            para cambiar su físico y mente sino que para toda su
                            vida. Y vos sos la próxima!
                        </p>
                    </p>
                    <ul class="about-cont">
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i><a
                                href="tel:+61431273526">+ 61-431-273-526</a
                            >
                        </li>
                        <li>
                            <i class="fa fa-envelope" aria-hidden="true"></i><a
                                href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=mkonlinefitness@gmail.com"
                                target="_blank">mkonlinefitness@gmail.com</a
                            >
                        </li>
                    </ul>
                    <ul class="social-list">
                        <li>
                            <a
                                target="_blank"
                                href="https://www.instagram.com/ignaciomarini.mk/"
                                ><i class="fa fa-instagram" aria-hidden="true"
                                ></i></a
                            >
                        </li>
                        <li>
                            <a
                                target="_blank"
                                href="https://youtube.com/@ignaciomarinimk?si=ZLdGaH30O8fc3Inn"
                                ><i class="fa fa-youtube" aria-hidden="true"
                                ></i></a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.tiktok.com/@ignaciomarinimk"
                                target="_blank"
                            >
                                <i class="fa">
                                    <div class="w-5 h-5 p-0.4">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 448 512"
                                            ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                            <path
                                                fill="#ffffff"
                                                d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"
                                            ></path></svg
                                        >

                                        <!-- <h3 class="text-2xl">TikTok</h3> -->
                                    </div></i
                                ></a
                            >
                        </li>
                        <li>
                            <a target="_blank" href="https://wa.me/+61431273526"
                                ><i class="fa fa-whatsapp" aria-hidden="true"
                                ></i></a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
