<!-- ============== S-TESTIMONIALS ============== -->
<section
    class="s-testimonials"
    style="background-image: url(assets/img/testimonials/bg-testimonials.jpg);"
>
    <div class="mask"></div>
    <!--    <img
        class="testimonials-effect"
        src="assets/img/bg-testimonials.svg"
        alt="effect"
    /> -->

    <div class="container">
        <div class="testimonials-slider">
            <div class="testimonial-slide">
                <p>
                    “Siempre busqué la manera de estar bien físicamente, pero se
                    me hacía muy difícil por que estaba errado en muchos
                    aspectos. Gracias a la increíble ayuda de Juani pude lograr
                    mis objetivos y superar mis expectativas. Un compañero
                    dedicado, que transforma la manera de entrenar, comer,
                    pensar y ejecutar cada ejercicio. Definitivamente el cambio
                    que necesitaba y mucho mejor de lo que esperaba, más que un
                    personal trainer, un hermano.”
                </p>
                <img
                    src="assets/img/testimonials/testimonial1.jpeg"
                    alt="img"
                />
                <h3 class="name">Santi Lujan</h3>
            </div>
            <div class="testimonial-slide">
                <p>
                    “Con juani pudimos lograr el primer objetivo de este camino,
                    que fue encarar un volumen, de pesar 96 kg pase a pesar 112
                    kg en 10 meses ahora vamos por la segunda etapa y este nuevo
                    reto que va ser definir, excelente profesional!”
                </p>
                <img
                    src="assets/img/testimonials/testimonial2.jpeg"
                    alt="img"
                />
                <h3 class="name">Santi Zabala</h3>
            </div>
            <div class="testimonial-slide">
                <p>
                    “No puedo creer lo mucho que he mejorado en tan poco tiempo.
                    Con el entrenamiento de juani y su método Mkfitness, me
                    siento más fuerte y con más energía que nunca. ¡Gracias por
                    ayudarme a alcanzar mis objetivos!”
                </p>
                <img
                    src="assets/img/testimonials/testimonial3.jpeg"
                    alt="img"
                />
                <h3 class="name">Caro Fabbroni</h3>
            </div>
        </div>
    </div>
</section>
<!-- ============ S-TESTIMONIALS END ============ -->
