<!-- ================== FOOTER ================== -->
<footer>
    <div class="container">
        <div class="row justify-center">
            <div class="footer-item-logo">
                <a href="#home" class="logo-footer"
                    ><img
                        src="assets/img/mklogo.png"
                        alt="logo"
                        width="80"
                        height="80"
                    /></a
                >
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
                Developed by <a
                    href="https://www.linkedin.com/in/lucianokapluk/"
                    target="_blank">Luciano kapluk</a
                > © 2024
            </div>
        </div>
    </div>
</footer>
<!-- ================ FOOTER END ================ -->
