<!-- ================== FOOTER ================== -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 footer-item-logo">
                <a href="index.html" class="logo-footer"
                    ><img
                        src="assets/img/mklogo.png"
                        alt="logo"
                        width="80"
                        height="80"
                    /></a
                >
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do
                </p>
                <ul class="social-list">
                    <li>
                        <a
                            target="_blank"
                            href="https://www.instagram.com/ignaciomarini.mk/"
                            ><i class="fa fa-instagram" aria-hidden="true"
                            ></i></a
                        >
                    </li>
                    <li>
                        <a
                            target="_blank"
                            href="https://youtube.com/@ignaciomarinimk?si=ZLdGaH30O8fc3Inn"
                            ><i class="fa fa-youtube" aria-hidden="true"></i></a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.tiktok.com/@ignaciomarinimk"
                            target="_blank"
                        >
                            <i class="fa">
                                <div class="w-4 h-4 p-0.4">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 448 512"
                                        ><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                        <path
                                            fill="#919191"
                                            d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"
                                        ></path></svg
                                    >

                                    <!-- <h3 class="text-2xl">TikTok</h3> -->
                                </div></i
                            ></a
                        >
                    </li>
                    <li>
                        <a target="_blank" href="https://wa.me/+61431273526"
                            ><i class="fa fa-whatsapp" aria-hidden="true"
                            ></i></a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 footer-item footer-item-list">
                <h3>Links</h3>
                <ul class="footer-link">
                    <li><a href="#">Sed ut perspiciatis unde</a></li>
                    <li><a href="#">Omnis iste natus error sit</a></li>
                    <li><a href="#">Voluptatem accusantium</a></li>
                    <li><a href="#">Doloremque laudantium</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 footer-item">
                <h3>Contact us</h3>
                <ul class="footer-cont">
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i><a
                            href="tel:+61431273526">+ 61-431-273-526</a
                        >
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i><a
                            href="mailto:crossFit@gmail.com"
                            >CrossFit@gmail.com</a
                        >
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i><a
                            href="contacts.html">London,Street 225r.21</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 footer-item">
                <h3>Blog</h3>
                <ul class="footer-blog">
                    <li>
                        <a href="blog.html" class="img-cover"
                            ><img
                                src="assets/img/footer-icon-1.jpg"
                                alt="img"
                            /></a
                        >
                        <div class="footer-blog-info">
                            <div class="name">
                                <a href="blog.html">Sed ut perspiciatis</a>
                            </div>
                            <p>Omnis iste natus error sit voluptatem…</p>
                        </div>
                    </li>
                    <li>
                        <a href="blog.html" class="img-cover"
                            ><img
                                src="assets/img/footer-icon-2.jpg"
                                alt="img"
                            /></a
                        >
                        <div class="footer-blog-info">
                            <div class="name">
                                <a href="blog.html">Sed ut perspiciatis</a>
                            </div>
                            <p>Omnis iste natus error sit voluptatem…</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">
                Developed by <a
                    href="https://www.linkedin.com/in/lucianokapluk/"
                    target="_blank">Luciano kapluk</a
                > © 2024
            </div>
        </div>
    </div>
</footer>
<!-- ================ FOOTER END ================ -->
