<header class="header">
    <a href="#" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>

    <div class="header-menu">
        <div class="container">
            <div class="header-logo">
                <!--   <a href="index.html" class="logo lg:my-0 lg:ml-4"> -->
                <h1 class="title-decor">Ignacio Marini</h1>

                <!-- <img
                        src="assets/img/mklogo.png"
                        alt="logo"
                        height="80"
                        width="80"
                    /> -->
                <!--     </a> -->
            </div>
            <nav class="nav-menu">
                <ul class="nav-list">
                    <li>
                        <a class="nav-btn-menu" id="homeBtn" href="#home"
                            >Inicio</a
                        >
                    </li>
                    <li class="nav-btn-menu" id="#asesorias">
                        <a href=""> Asesorías</a>
                    </li>
                    <li class="nav-btn-menu" id="#testimonios1">
                        <a href="">Testimonios</a>
                    </li>
                    <li class="nav-btn-menu" id="#about-me">
                        <a href="">Sobre Mi</a>
                    </li>

                    <li class="nav-btn-menu" id="#contacts">
                        <a href="">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<script is:inline>
    const isDesktop = "@media (min-width: 768px)";
    const isMobile = "@media (max-width: 767px)";

    /*    export default {
      isDesktop,
      isMobile
    }; */
</script>
<script>
    let home = document.getElementById("homeBtn");
    home.addEventListener("click", () => {
        console.log("adsasddsasd");
    });
</script>
<style>
    .nav-btn {
        display: block;
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        padding: 10px 15px;
        display: block;
        z-index: 4;
        overflow: hidden;
    }

    .nav-btn span {
        background-color: #fff;
        height: 2px;
        width: 100%;
        display: block;
        margin: 6px 0;
        position: relative;
        transition:
            all 0.4s ease,
            visibility 0.1s ease;
    }

    @media (min-width: 1035px) {
        .nav-btn {
            display: none;
        }
    }

    .nav-btn:hover span:nth-child(2) {
        margin-left: -8px;
    }

    .nav-btn.active span {
        height: 2px;
        transform-origin: 0;
    }

    .nav-btn.active span:first-child {
        top: -3px;
        right: -6px;
        transform: rotate(45deg);
    }

    .nav-btn.active span:last-child {
        right: -6px;
        top: 2px;
        transform: rotate(-45deg);
    }

    .nav-btn.active span:nth-child(2) {
        visibility: hidden;
    }
</style>
