<header class="header lg:flex lg:justify-between lg:items-center py-4">
    <a href="index.html" class="logo lg:my-0 lg:ml-4">
        <img src="assets/img/mklogo.png" alt="logo" height="60" width="60" />
    </a>

    <a href="#" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>

    <div class="header-menu mt-6">
        <div class="container">
            <nav class="nav-menu">
                <ul class="nav-list">
                    <li class="dropdown">
                        <a href="#">Home <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li class="menu-active">
                                <a href="index.html">Crossfit</a>
                            </li>
                            <li><a href="home-fitness.html">Fitness</a></li>
                            <li>
                                <a href="home-crossfit-lite.html"
                                    >Crossfit Lite</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li class="dropdown">
                        <a href="#">Pages <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li><a href="program.html">Program</a></li>
                            <li><a href="trainer.html">Trainer</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <form action="/api/auth/signout">
        <div class="login-btn-container hidden lg:block mr-6">
            <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
                Login
            </button>
        </div>
    </form>
</header>
