<header class="header">
    <a href="#" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <div class="header-left">
                <ul class="header-cont">
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i><a
                            href="tel:18004886040">1-800-488-6040</a
                        >
                    </li>
                    <li>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>Mon -
                        Fri: 8:00AM - 7:00PM | Sat - Sun: Closed
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <form class="search-form">
                    <input
                        type="search"
                        class="search-form__field"
                        placeholder="Search"
                        value=""
                        name="s"
                    />
                    <button type="submit" class="search-form__submit"
                        ><i class="fa fa-search" aria-hidden="true"></i></button
                    >
                </form>
                <ul class="social-list">
                    <li>
                        <a
                            target="_blank"
                            href="https://www.facebook.com/rovadex"
                            ><i class="fa fa-facebook" aria-hidden="true"
                            ></i></a
                        >
                    </li>
                    <li>
                        <a
                            target="_blank"
                            href="https://twitter.com/RovadexStudio"
                            ><i class="fa fa-twitter" aria-hidden="true"></i></a
                        >
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com"
                            ><i class="fa fa-youtube" aria-hidden="true"></i></a
                        >
                    </li>
                    <li>
                        <a
                            target="_blank"
                            href="https://www.instagram.com/rovadex"
                            ><i class="fa fa-instagram" aria-hidden="true"
                            ></i></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <div class="header-logo">
                <a href="index.html" class="logo"
                    ><img
                        src="assets/img/mklogo.png"
                        alt="logo"
                        height="100"
                        width="100"
                    /></a
                >
            </div>
            <nav class="nav-menu">
                <ul class="nav-list">
                    <li class="dropdown">
                        <a href="#">Home <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li class="menu-active">
                                <a href="index.html">Crossfit</a>
                            </li>
                            <li><a href="home-fitness.html">Fitness</a></li>
                            <li>
                                <a href="home-crossfit-lite.html"
                                    >Crossfit Lite</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li class="dropdown">
                        <a href="#">Pages <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li><a href="program.html">Program</a></li>
                            <li><a href="trainer.html">Trainer</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
