<section class="s-crossfit-slider" id="home">
    <div class="crossfit-slider">
        <div class="crossfit-slide">
            <div class="crossfit-slider-effect effect-1">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.2"
                        style="background-image: url(/assets/img/effect-1.svg);"
                    ></span>
                </div>
            </div>
            <div class="crossfit-slider-effect effect-2">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.4"
                        style="background-image: url(/assets/img/effect-2.svg);"
                    ></span>
                </div>
            </div>
            <div
                class="crossfit-slide-bg"
                style="background-image: url(/assets/img/hero4.jpg);"
            >
            </div>
            <div class="container">
                <div class="crossfit-slide-cover">
                    <h2
                        class="title"
                        style="text-transform: uppercase!important;"
                    >
                        <span class="font-sans" style="color: white;">MK</span>
                        <span>Fitness</span>
                    </h2>
                    <p>
                        Obtén la mejor versión de ti mismo física y mentalmente,
                        unite a Mkfitness
                    </p>
                </div>
            </div>
        </div>
        <div class="crossfit-slide">
            <div class="crossfit-slider-effect effect-1">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.2"
                        style="background-image: url(/assets/img/effect-1.svg);"
                    ></span>
                </div>
            </div>
            <div class="crossfit-slider-effect effect-2">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.4"
                        style="background-image: url(/assets/img/effect-2.svg);"
                    ></span>
                </div>
            </div>
            <div
                class="crossfit-slide-bg"
                style="background-image: url(/assets/img/hero.jpg);"
            >
            </div>
            <div class="container">
                <div class="crossfit-slide-cover">
                    <h2 class="title">
                        Que es <span class="font-sans" style="color: white;"
                            >MK</span
                        >
                        <span>Fitness?</span>
                    </h2>

                    <p>
                        Es el nombre del equipo creado por mi y conformado por
                        mujeres que se unen a por un mismo objetivo, cambiar su
                        cuerpo y mente, a través del entrenamiento, mindset y
                        hábitos. Unite y se la próxima Mujer fuerte.
                    </p>
                </div>
            </div>
        </div>
        <div class="crossfit-slide">
            <div class="crossfit-slider-effect effect-1">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.2"
                        style="background-image: url(/assets/img/effect-1.svg);"
                    ></span>
                </div>
            </div>
            <div class="crossfit-slider-effect effect-2">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.4"
                        style="background-image: url(/assets/img/effect-2.svg);"
                    ></span>
                </div>
            </div>
            <div
                class="crossfit-slide-bg"
                style="background-image: url(/assets/img/hero-h3.jpeg); "
            >
            </div>
            <div class="container">
                <div class="crossfit-slide-cover">
                    <h2 class="title">push <span>yourself</span></h2>
                    <p>
                        Si buscas cambiar para bien, buscas una mejor versión de
                        vos, empujarte hacia nuevos límites y sobre todo algo
                        que se adapte a tu vida, estás en un tu lugar correcto,
                        ¡nos vemos dentro!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-navigation">
        <div class="container">
            <div class="slider-navigation-cover"></div>
        </div>
    </div>
</section>
