<section class="s-crossfit-slider">
    <div class="crossfit-slider">
        <div class="crossfit-slide">
            <!--    <div class="crossfit-slider-effect effect-1">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.2"
                        style="background-image: url(/assets/img/effect-2.svg);"
                    ></span>
                </div>
            </div>
            <div class="crossfit-slider-effect effect-2">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.4"
                        style="background-image: url(/assets/img/effect-2.svg);"
                    ></span>
                </div>
            </div> -->
            <div
                class="crossfit-slide-bg"
                style="background-image: url(/assets/img/hero4.jpg);"
            >
            </div>
            <div class="container">
                <div class="crossfit-slide-cover">
                    <h2
                        class="title"
                        style="text-transform: uppercase!important;"
                    >
                        <span class="font-sans" style="color: white;">MK</span>
                        <span>Fitness</span>
                    </h2>
                    <p>
                        Obtén la mejor versión de ti mismo física y mentalmente,
                        unite a Mkfitness
                    </p>
                </div>
            </div>
        </div>
        <div class="crossfit-slide">
            <!--    <div class="crossfit-slider-effect effect-1">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.2"
                        style="background-image: url(/assets/img/effect-1.svg);"
                    ></span>
                </div>
            </div>
            <div class="crossfit-slider-effect effect-2">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.4"
                        style="background-image: url(/assets/img/effect-2.svg);"
                    ></span>
                </div>
            </div> -->
            <div
                class="crossfit-slide-bg"
                style="background-image: url(/assets/img/hero.jpg);"
            >
            </div>
            <div class="container">
                <div class="crossfit-slide-cover">
                    <h2 class="title">push <span>yourself</span></h2>
                    <p>
                        Maecenas consequat ex id lobortis venenatis. Mauris id
                        erat enim. Morbi dolor dolor, auctor tincidunt lorem ut,
                        venenatis dapibus mi. Nunc venenatis sollicitudin nisl
                        vel auctor.
                    </p>
                </div>
            </div>
        </div>
        <div class="crossfit-slide">
            <div class="crossfit-slider-effect effect-1">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.2"
                        style="background-image: url(/assets/img/effect-1.svg);"
                    ></span>
                </div>
            </div>
            <div class="crossfit-slider-effect effect-2">
                <div data-hover-only="true" class="scene">
                    <span
                        class="scene-item"
                        data-depth="0.4"
                        style="background-image: url(/assets/img/effect-2.svg);"
                    ></span>
                </div>
            </div>
            <div
                class="crossfit-slide-bg"
                style="background-image: url(/assets/img/hero5.jpg); "
            >
            </div>
            <div class="container">
                <div class="crossfit-slide-cover">
                    <h2 class="title">push <span>yourself</span></h2>
                    <p>
                        Maecenas consequat ex id lobortis venenatis. Mauris id
                        erat enim. Morbi dolor dolor, auctor tincidunt lorem ut,
                        venenatis dapibus mi. Nunc venenatis sollicitudin nisl
                        vel auctor.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-navigation">
        <div class="container">
            <div class="slider-navigation-cover"></div>
        </div>
    </div>
</section>
