<!-- <section class="s-fitness-gallery">
    <div class="section-title-bg">Our Gallery</div>
    <div class="container">
        <h2 class="title-decor">Our <span>Gallery</span></h2>
        <p class="slogan">
            Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.
        </p>
        <div class="row-gallery">
            <div class="grid-gallery">
                <div class="grid-sizer"></div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-1-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-1-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">Maecenas consequat</h4>
                            <p>Mauris id erat enim</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-2-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-2-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">dolor sit amet</h4>
                            <p>Mauris id erat enim</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-3-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-3-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">labore et dolore</h4>
                            <p>Mauris id erat enim</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-4-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-4-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">adipiscing elit</h4>
                            <p>Mauris id erat enim</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-8-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-8-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">ullamco laboris</h4>
                            <p>Ut enim ad minima veniam</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-6-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-6-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">sed do eiusmod</h4>
                            <p>Sunt in culpa qui</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-7-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-7-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">magna aliqua</h4>
                            <p>Voluptas sit aspernatur</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-5-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-5-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">consectetur adipiscing</h4>
                            <p>Sint occaecat cupidatat</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-11-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-11-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">lorem ipsum</h4>
                            <p>Maecenas consequat</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-10-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-10-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">quis nostrud</h4>
                            <p>Maecenas consequat</p>
                        </div>
                    </a>
                </div>
                <div class="gallery-item">
                    <a
                        href="assets/img/gall-9-min.jpg"
                        data-fancybox="gallery1"
                    >
                        <img src="assets/img/gall-9-min.jpg" alt="img" />
                        <div class="gal-item">
                            <h4 class="title">tempor incididunt</h4>
                            <p>Accusantium doloremque laud</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
 -->
