<!-- ============== S-OUR-PROGRAMS ============== -->
<section
    class="s-our-programs"
    style="background-image: url(assets/img/bg-programs.jpg);"
>
    <div class="mask"></div>
    <div
        class="our-programs-effect"
        style="background-image: url(assets/img/bg-programs.svg);"
    >
    </div>
    <div class="container">
        <h2 class="title-decor">Cambios <span>Fisicos</span></h2>
        <p class="slogan">
            Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.
            Morbi dolor dolo auctor tincidunt lorem ut, venenatis dapibus miq.
        </p>
        <div class="row">
            <div class="col-sm-6 col-md-3 program-col">
                <div class="program-item">
                    <div
                        class="program-item-front"
                        style="background-image: url(assets/img/cambios-fisicos/1.jpeg);"
                    >
                        <div class="program-item-inner">
                            <h3>Personal trainer</h3>
                        </div>
                    </div>
                    <div
                        class="program-item-back"
                        style="background-image: url(assets/img/cambios-fisicos/1.jpeg);"
                    >
                        <div class="program-item-inner">
                            <h3>Personal trainer</h3>
                            <a href="program.html" class="btn">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 program-col">
                <div class="program-item">
                    <div
                        class="program-item-front"
                        style="background-image: url(assets/img/cambios-fisicos/2.jpeg);"
                    >
                        <div class="program-item-inner">
                            <h3>Free workout</h3>
                        </div>
                    </div>
                    <div
                        class="program-item-back"
                        style="background-image: url(assets/img/cambios-fisicos/2.jpeg);"
                    >
                        <div class="program-item-inner">
                            <h3>Free workout</h3>
                            <a href="program.html" class="btn">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 program-col">
                <div class="program-item">
                    <div
                        class="program-item-front"
                        style="background-image: url(assets/img/cambios-fisicos/3.jpeg);"
                    >
                        <div class="program-item-inner">
                            <h3>CrossFit</h3>
                        </div>
                    </div>
                    <div
                        class="program-item-back"
                        style="background-image: url(assets/img/cambios-fisicos/3.jpeg);"
                    >
                        <div class="program-item-inner">
                            <h3>CrossFit</h3>
                            <a href="program.html" class="btn">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 program-col">
                <div class="program-item">
                    <div
                        class="program-item-front"
                        style="background-image: url(assets/img/cambios-fisicos/4.jpeg);"
                    >
                        <div class="program-item-inner">
                            <h3>Martial Arts</h3>
                        </div>
                    </div>
                    <div
                        class="program-item-back"
                        style="background-image: url(assets/img/cambios-fisicos/4.jpeg);"
                    >
                        <div class="program-item-inner">
                            <h3>Martial Arts</h3>
                            <a href="program.html" class="btn">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============ S-OUR-PROGRAMS END ============ -->
</section>
