<section
	class="s-out-trainer"
	style="background-image: url(assets/img/bg-contacts.svg);"
>
	<div class="container">
		<h1 class="title-decor">Our <span>Trainer</span></h1>
		<p class="slogan">
			Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.
			Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.
		</p>
		<div class="row">
			<div class="col-md-6 out-trainer-col">
				<div class="out-trainer-item">
					<a href="trainer.html" class="out-trainer-img"
						><img
							class="rx-lazy"
							src="assets/img/placeholder-all.png"
							data-src="assets/img/trainer-1.jpg"
							alt="img"
						/></a
					>
					<div class="out-trainer-info">
						<h3><a href="trainer.html">Sam piters</a></h3>
						<div class="prof">Weightlifting</div>
						<p>
							Maecenas consequat ex id lobortis venenatis. Mauris
							id erat enim. Morbi dolor dolor, auctor tincidunt
							lorem ut, venenatis dapibus miq.
						</p>
						<ul class="social-list">
							<li>
								<a
									target="_blank"
									href="https://www.facebook.com/rovadex"
									><i
										class="fa fa-facebook"
										aria-hidden="true"></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://twitter.com/RovadexStudio"
									><i class="fa fa-twitter" aria-hidden="true"
									></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://www.youtube.com"
									><i class="fa fa-youtube" aria-hidden="true"
									></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://www.instagram.com/rovadex"
									><i
										class="fa fa-instagram"
										aria-hidden="true"></i></a
								>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 out-trainer-col">
				<div class="out-trainer-item">
					<a href="trainer.html" class="out-trainer-img"
						><img
							class="rx-lazy"
							src="assets/img/placeholder-all.png"
							data-src="assets/img/trainer-2.jpg"
							alt="img"
						/></a
					>
					<div class="out-trainer-info">
						<h3><a href="trainer.html">kim piters</a></h3>
						<div class="prof">Weightlifting</div>
						<p>
							Maecenas consequat ex id lobortis venenatis. Mauris
							id erat enim. Morbi dolor dolor, auctor tincidunt
							lorem ut, venenatis dapibus miq.
						</p>
						<ul class="social-list">
							<li>
								<a
									target="_blank"
									href="https://www.facebook.com/rovadex"
									><i
										class="fa fa-facebook"
										aria-hidden="true"></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://twitter.com/RovadexStudio"
									><i class="fa fa-twitter" aria-hidden="true"
									></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://www.youtube.com"
									><i class="fa fa-youtube" aria-hidden="true"
									></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://www.instagram.com/rovadex"
									><i
										class="fa fa-instagram"
										aria-hidden="true"></i></a
								>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 out-trainer-col">
				<div class="out-trainer-item">
					<a href="trainer.html" class="out-trainer-img"
						><img
							class="rx-lazy"
							src="assets/img/placeholder-all.png"
							data-src="assets/img/trainer-3.jpg"
							alt="img"
						/></a
					>
					<div class="out-trainer-info">
						<h3><a href="trainer.html">Samanta piters</a></h3>
						<div class="prof">Weightlifting</div>
						<p>
							Maecenas consequat ex id lobortis venenatis. Mauris
							id erat enim. Morbi dolor dolor, auctor tincidunt
							lorem ut, venenatis dapibus miq.
						</p>
						<ul class="social-list">
							<li>
								<a
									target="_blank"
									href="https://www.facebook.com/rovadex"
									><i
										class="fa fa-facebook"
										aria-hidden="true"></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://twitter.com/RovadexStudio"
									><i class="fa fa-twitter" aria-hidden="true"
									></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://www.youtube.com"
									><i class="fa fa-youtube" aria-hidden="true"
									></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://www.instagram.com/rovadex"
									><i
										class="fa fa-instagram"
										aria-hidden="true"></i></a
								>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 out-trainer-col">
				<div class="out-trainer-item">
					<a href="trainer.html" class="out-trainer-img"
						><img
							class="rx-lazy"
							src="assets/img/placeholder-all.png"
							data-src="assets/img/trainer-4.jpg"
							alt="img"
						/></a
					>
					<div class="out-trainer-info">
						<h3><a href="trainer.html">artur piters</a></h3>
						<div class="prof">Weightlifting</div>
						<p>
							Maecenas consequat ex id lobortis venenatis. Mauris
							id erat enim. Morbi dolor dolor, auctor tincidunt
							lorem ut, venenatis dapibus miq.
						</p>
						<ul class="social-list">
							<li>
								<a
									target="_blank"
									href="https://www.facebook.com/rovadex"
									><i
										class="fa fa-facebook"
										aria-hidden="true"></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://twitter.com/RovadexStudio"
									><i class="fa fa-twitter" aria-hidden="true"
									></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://www.youtube.com"
									><i class="fa fa-youtube" aria-hidden="true"
									></i></a
								>
							</li>
							<li>
								<a
									target="_blank"
									href="https://www.instagram.com/rovadex"
									><i
										class="fa fa-instagram"
										aria-hidden="true"></i></a
								>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
