<!-- ============== S-CLUB-CARDS ============== -->
<section class="s-club-cards">
    <div class="container">
        <h2 class="title-decor">Asesorias<span></span></h2>
        <p class="slogan">
            Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.
            Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.
        </p>
        <div class="row">
            <div class="col-md-4 club-card-col">
                <div class="club-card-item">
                    <div class="price-cover">
                        <div class="price">40</div>
                        <div class="date"><span>99</span>3 months</div>
                    </div>
                    <ul class="list">
                        <li>Rutina de entrenamiento personalizada</li>
                        <li>Periodización adecuada</li>
                        <li>Ajuste del volumen de entrenamiento</li>
                        <li>Indicadores de intensidad (RIR)</li>
                        <li>Resolución de dudas por WhatsApp</li>
                        <li>Chequeo constante de técnica de ejercicios</li>
                        <li>Monitoreo del estado físico</li>
                        <li>
                            Ajustes/modificaciones al plan según necesidades
                        </li>
                        <li>Aplicación móvil para seguimiento</li>
                        <li>Exclusión de apartado nutricional</li>
                    </ul>
                    <a href="program.html" class="btn">order now</a>
                </div>
            </div>
            <div class="col-md-4 club-card-col">
                <div class="club-card-item">
                    <div class="price-cover">
                        <div class="price">70</div>
                        <div class="date"><span>99</span>6 months</div>
                    </div>
                    <ul class="list">
                        <li>Plan de nutrición personalizado</li>
                        <li>Plan de entrenamiento personalizado</li>
                        <li>
                            Videollamadas semanales para resolver dudas y
                            consultas
                        </li>
                        <li>
                            Videos y videollamadas exclusivos para aprender
                            sobre entrenamiento, manejo de variables, nutrición
                            y suplementación deportiva
                        </li>
                        <li>Aplicación móvil para seguimiento</li>
                        <li>Guías exclusivas</li>
                    </ul>
                    <a href="program.html" class="btn">order now</a>
                </div>
            </div>
            <div class="col-md-4 club-card-col">
                <div class="club-card-item">
                    <div class="price-cover">
                        <div class="price">120</div>
                        <div class="date"><span>99</span>1 year</div>
                    </div>
                    <ul class="list">
                        <li>
                            Plan de nutrición personalizado según tus objetivos
                        </li>
                        <li>
                            Plan de entrenamiento personalizado para mejorar la
                            estética corporal
                        </li>
                        <li>
                            Seguimiento continuo y motivación diaria a través de
                            WhatsApp, app y más
                        </li>
                        <li>
                            Aplicación móvil para llevar tu plan contigo a todas
                            partes
                        </li>
                        <li>Consultar disponibilidad de cupos</li>
                        <li>
                            Exclusión de dietas, planes veganos y vegetarianos
                        </li>
                    </ul>
                    <a href="program.html" class="btn">order now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============ S-CLUB-CARDS END ============ -->
