---
import type { Testimonial } from "./Testimonials.astro";
interface Props {
    testimonial: Testimonial;
}

let { testimonial } = Astro.props;
---

<div class="col-md-6 out-trainer-col">
    <div class="out-trainer-item">
        <a href="trainer.html" class="out-trainer-img"
            ><img
                class="rx-lazy"
                src={testimonial.photo}
                data-src={testimonial.photo}
                alt="img"
            /></a
        >
        <div class="out-trainer-info">
            <div><h3><a href="trainer.html">{testimonial.name}</a></h3></div>

            <div>
                <p>
                    {testimonial.text}
                </p>
            </div>
        </div>
    </div>
</div>
