---
import TestimonialsCard from "./TestimonialsCard.astro";
export interface Testimonial {
	photo: string;
	text: string;
	name: string;
}

export let testimonialsList: Testimonial[] = [
	{
		photo: "assets/img/testimonials/izzy.jpeg",
		text: "Con Ignacio pude cumplir mis objetivos rápidamente y no solo eso sino  que en cuestión de meses ya tenía otros nuevos objetivos  que ni yo me imaginaba poner a mi misma. Siempre agradecida.",
		name: "Izzy Burrin",
	},
	{
		photo: "assets/img/testimonials/angelica.jpeg",
		text: "Empecé a entrenar para mejorar mi cuerpo ya que me costaba ganar peso y masa muscular , lo que quería fue ampliamente superado y no puedo estar más contenta con eso .",
		name: "Angelica Degli Esposti",
	},

	{
		photo: "assets/img/testimonials/carla.jpeg",
		text: "El verano y un bikini fueron los motivos de empezar , ahora no puedo dejar más de una semana el gym que siento que algo me falta . Aprender a entrenar y a nutrirte lo cambia todo , más que contenta con Ignacio y su forma de explicarte, con paciencia y dedicación siempre ",
		name: "Carla Sileoni ",
	},
	{
		photo: "assets/img/testimonials/beatrice.jpeg",
		text: "Mis hábitos , mi tiempo y trabajo  eran mis problemas pero tener a alguien como Ignacio que se dedicó a amoldarme todo a mi estilo de vida fue lo que me hizo elegirlo y lograr mi cambio , un gran entrenador y motivador pero sobre todo gran persona.",
		name: "Beatrice Degli",
	},
	{
		photo: "assets/img/testimonials/caro.jpeg",
		text: "No puedo creer lo mucho que he mejorado en tan poco tiempo. Con el entrenamiento de juani y su método Mkfitness, me siento más fuerte y con más energía que nunca. ¡Gracias por ayudarme a alcanzar mis objetivos!",
		name: "Caro Fabbroni",
	},
];
---

<section
	class="s-testimonials"
	style="background-image: url(assets/img/testimonials/bg-testimonials.jpg);"
>
	<div class="mask"></div>
	<div class="container" id="testimonios1">
		<h1 class="title-decor">Testimonios</h1>
		<p class="slogan">
			Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.
			Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.
		</p>
		<div class="row">
			{
				testimonialsList.map((item, index) => (
					<TestimonialsCard testimonial={item} />
				))
			}
		</div>
		<!-- <div class="testimonials-slider2">
			<div>
				<div class="row">
					{
						testimonialsList.map((item, index) => (
							<TestimonialsCard testimonial={item} />
						))
					}
				</div>
			</div>
			<div>
				<div class="row">
					{
						testimonialsList.map((item, index) => (
							<TestimonialsCard testimonial={item} />
						))
					}
				</div>
			</div>
		</div> -->
	</div>
</section>
<style>
	/* .testimonials-slider2 {
		z-index: 1;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
 */
	.testimonials-slider2 .slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
	}

	.testimonials-slider2 .slick-dots li {
		cursor: pointer;
		position: relative;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: #bebebe;
		margin-right: 8px;
		transition: 0.25s ease-in;
	}

	.testimonials-slider2 .slick-dots li:hover,
	.testimonials-slider2 .slick-dots li.slick-active {
		background-color: #f23849;
	}

	.testimonials-slider2 .slick-dots li:last-child {
		margin-right: 0;
	}

	.testimonials-slider2 .slick-dots li button {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		opacity: 0;
		padding: 0;
		margin: 0;
	}
</style>
