---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<!-- Primary Meta Tags -->
		<title>MK Fitness</title>
		<meta name="title" content="MK Fitness" />
		<meta
			name="description"
			content="Obtén la mejor versión de ti mismo física y mentalmente, unite a Mkfitness"
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://mk-fitness.vercel.app/" />
		<meta property="og:title" content="MK Fitness" />
		<meta
			property="og:description"
			content="Obtén la mejor versión de ti mismo física y mentalmente, unite a Mkfitness"
		/>
		<meta property="og:image" content="assets/img/mklogo-black.png" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://mk-fitness.vercel.app/" />
		<meta property="twitter:title" content="MK Fitness" />
		<meta
			property="twitter:description"
			content="Obtén la mejor versión de ti mismo física y mentalmente, unite a Mkfitness"
		/>
		<meta property="twitter:image" content="assets/img/mklogo-black.png" />

		<!-- Meta Tags Generated with https://metatags.io -->

		<meta name="keywords" content="" />

		<meta name="format-detection" content="telephone=no" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link rel="shortcut icon" href="assets/img/mk.png" />

		<link rel="stylesheet" href="assets/css/slick.min.css" />
		<link rel="stylesheet" href="assets/css/bootstrap-grid.css" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="assets/css/style.css" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	<body id="home">
		<slot />
	</body>
	<script src="/assets/js/jquery-2.2.4.min.js" is:inline></script>
	<script src="/assets/js/slick.min.js" is:inline></script>
	<script src="assets/js/isotope.pkgd.js" is:inline></script>
	<script src="/assets/js/rx-lazy.js" is:inline></script>
	<script src="/assets/js/parallax.min.js" is:inline></script>
	<script src="/assets/js/scripts.js" is:inline></script>
</html>
<!-- <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
 -->
